<header>
	<div id="logo-inscription">


		<div class="logo" id="haut">
			<a href="{{path('app_home')}}"><img src="../../assets/img/logo_test.png" alt="logo_du_site" class="logo_size"></a>
		</div>

		<div class="user">
			{% if app.user %}
				<h6>bienvenue,
					{{app.user.username}}</h6>
				<i class="fa-solid fa-user"></i>
			{% endif %}
			{% if is_granted('ROLE_ADMIN')  %}
				<a href="{{path('admin')}}">
					admin
					<i class="fa-solid fa-user-shield"></i>
				</a>

			{% endif %}
			<a href="{{path('app_panier')}}">
				<i class="fa-solid fa-cart-shopping"></i>
				<span id="nb_article">{{app.session.get('nb') == 0 ? '' : app.session.get('nb')}}</span>
			</a>
			{% if app.user %}
				<li>
					<a href="{{path('app_logout')}}">se deconnecter</a>
				</li>
			{% else %}
				<li>
					<a href="{{path('app_login')}}">se connecter</a>
				</li>
				<li>
					<a href="{{path('app_register')}}">s'enregistrer</a>
				</li>
			{% endif %}

		</div>
	</div>

	<div class="random"><hr>{{ randomize.getRandomTagline() }}<hr></div>

	<!-- Bouton hamburger pour mobile -->
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Ajout de la classe collapse navbar-collapse -->
	<nav class="navbar navbar-expand-lg">
		<div class="collapse navbar-collapse" id="navbarContent">
			<ul class="navbar-nav">


				<li>
					<a href="{{path('app_products',{categories: 'Mangas'})}}">Mangas</a>
				</li>
				<li>
					<a href="{{path('app_products',{categories: 'Goodies'})}}">Goodies</a>
				</li>
				<li>
					<a href="{{path('app_products',{categories: 'Comics'})}}">Comics</a>
				</li>
				<li>
					<a href="{{path('app_products',{categories: 'tout'})}}">Tout nos produits</a>
				</li>

			</ul>
		</div>
	</nav>
</header>
