<header>
        <nav>
            <ul>
                <li><a href="{{path('app_products',{categories: 'Mangas'})}}">Mangas</a></li>
                <li><a href="{{path('app_products',{categories: 'Goodies'})}}">Goodies</a></li>
                <li><a href="{{path('app_products',{categories: 'Comics'})}}">Comics</a></li>
                <li><a href="{{path('app_products',{categories: 'tout'})}}">Tout nos produits</a></li>
                <li><a href="{{path('app_login')}}">se connecter</a></li>
                <li><a href="{{path('app_register')}}">s'enregistrer</a></li>
                {# {% if  %} #}

            </ul>
        </nav>
    </header>