{% extends 'base.html.twig' %}

{% block title %}Votre Panier
{% endblock %}

{% block body %}
	{% if (app.user is empty) %}
		<div class="acces-interdit_non-utilisateur">
			<h2>acces interdit</h2>
			<p>vous devez etre un utilisateur pour acceder au panier...</p>
			<a href="{{path('app_login')}}">vous connecter</a>
			<a href="{{path('app_register')}}">vous inscrire</a>
		</div>
	{% else %}

		<div class="panier-presentation">

			<h2>Panier</h2>

			{% if (cart is empty) %}

				<p>Votre panier est vide...
					<br>
					voulez vous le remplir avec des
					<a href="{{path('app_products',{categories: 'tout'})}}">produits ?</a>
				</p>
			{% else %}
				<div class="tableauPanier">
					<table>
						<thead>
							<tr>
								<th>Effacer</th>
								<th>Nom</th>
								<th>Quantité</th>
								<th>Prix</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							{% for id, produit in cart %}
								<tr>
									<td>
										<button class="btn-delete" data-product-id="{{ id }}">
											<i class="fa-solid fa-trash"></i>
										</button>
									</td>
									<td>{{ produit.name }}</td>
									<td>
										<input type="number" onchange="updateQuantity(event, '{{ id }}')" class="quantity" min="1" value="{{ produit.quantity }}">
										<span id="panier_stock-{{id}}" style="color:red; display:none; transition: opacity 0.3s ease;">produit non disponible, pas assez de stocks （；´д｀）ゞ</span>


									</td>
									<td>{{ produit.price }}€</td>
									<td class="total" colspan="3">
										{{produit.price * produit.quantity }}€
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>


					<h4>prix total:
						<span id="absolut-total">{{prixTotal}}€</span>
					</h4>
					<br>
					<hr>
				{% endif %}
			{% endif %}

		</div>


	</tbody>


</table>
</p>
</div>

{% if cart is not empty and app.user %}

<div class="checkout ">
	<a href="{{ path('app_payment')}}">Proceder au paiement</a>
</div>
{% endif %}

{% endblock %}

