{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}
    <div class="{{ classe_banniere }} banner_size">

    <h1 id="products_titles">Tous nos {{categorie}}</h1>


      
    </div>
<div id="produits_page">




{% for produit in produits %}

<div class="produits_blocks">
  <div class="produit">
    <a href="{{path('app_details', {id: produit.id})}}"><img  src="{{asset('assets/img/' ~ categorie ~ '/' ~ produit.images)}}" alt="{{produit.nom}}" class="produit-image"></a>
  
    <h4 class="produit-nom">{{produit.nom}}</h4>
    <h6 class="produit-prix">{{produit.prix}} €</h6>
    <a href="{{path('app_details', {id: produit.id})}}"><button class="details" >details</button></a>


    
      {# {% if (app.user is empty) %}
      <a href="{{ path('app_redirect')}}"><button>ajouter au panier</button></a>

      {% else %} #}
    <button class="add_panier" data-id="{{ produit.id }}">ajouter au panier</button>
  </div> 
</div>
{# {% endif %} #}
{% endfor %}
</div>


<h2>Panier</h2>
<div class="cart">
<!-- Le contenu du panier sera chargé ici via AJAX -->
</div>

{% endblock %}




{% block javascript %}
{# 
<script>
    // Sélectionne tous les boutons "Ajouter au panier"
    const buttons = document.querySelectorAll('.add_panier');

    buttons.forEach(button => {
        button.addEventListener('click', () => {
            const productId = button.getAttribute('data-id');

            // Envoi de la requête POST avec fetch
            fetch('/panier/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ id: productId }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.success); // Affiche un message de confirmation
                } else {
                    alert(data.error); // Affiche un message d'erreur si nécessaire
                }
            })
            .catch(error => {
                console.error('Erreur:', error);
                alert('Une erreur est survenue.');
            });
        });
    });
</script> #}

{% endblock %}



  
