{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}
    <div class="{{ classe_banniere }} banner_size">

    <h1 id="products_titles">Tous nos {{categorie}}</h1>


      
    </div>
<div id="produits_page">




{% for produit in produits %}
<a href="{{path('app_details', {id: produit.id})}}">
<div class="produits_blocks">
  <div class="produit">
    <img src="{{produit.images}}" alt="{{produit.nom}}" class="produit-image">
    <h4 class="produit-nom">{{produit.nom}}</h4>
    <h6 class="produit-prix">{{produit.prix}} €</h6>
    <button class="add_panier">details</button>
  </div>
</div>
</a>
{% endfor %}


</div>
{% endblock %}
