{% extends 'base.html.twig' %}


{% block body %}


	{# Barre de recherche de la page d'accueil #}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-14">
				<div class="home-search-container">
					<div class="input-group">
						<input type="text" class="form-control home-search-input" placeholder="Rechercher un produit...">
						<button class="btn btn-primary home-search-button" type="button">
							Rechercher
						</button>
					</div>
					<div
						class="home-search-results">{# Les résultats s'afficheront ici #}
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="full">

		<div class="main">
			<h3>Bienvenue dans l'univers de Graphik Galaxy 🌌</h3>
			<p>Chez Graphik Galaxy, nous vous invitons à plonger dans un monde rempli de couleurs, d’histoires captivantes et de héros légendaires. Que vous soyez un passionné de mangas, un collectionneur de comics ou simplement à la recherche de goodies uniques pour compléter votre collection, vous êtes au bon endroit !</p>


			<h6>Les Nouveautés de Graphik Galaxy 🌟</h6>
			🔗 Découvrez les nouveautés maintenant : Graphik Galaxy - Nouveautés

			{# carousel produits  #}

			<div id="largeur-carousel">
				<p>
					hauteur du carousel  :
				</p>
			</div>
			{# <div class="carousel-section">
																																	<a href="">
																																		<h2>Nos dernières nouveautés</h2>
																																	</a>
																																	
																																	
																																									<div id="nouveautesCarousel" class="carousel slide" data-bs-ride="carousel">
																																										<div class="carousel-inner">
																																											{% for key, produit in derniersProduits %}
																																												<div class="carousel-item {% if key == 0 %}active{% endif %}">
																																													<div class="carousel-product">
																																														<img src="{{ asset('assets/img/' ~ produit.categorie ~ '/' ~ produit.images) }}" class="carousel-img" alt="{{ produit.nom }}">
																																														<div class="carousel-details">
																																															<h3>{{ produit.nom }}</h3>
																																															<p class="price">{{ produit.prix }}
																																																€</p>
																																															<div class="carousel-actions">
																																																<a href="{{ path('app_details', {id: produit.id}) }}" class="btn btn-primary">Voir les détails</a>
																																																<button class="btn btn-success add_panier" onclick="ajoutPanier(event, {{ produit.id }})">
																																																	<i class="fa-solid fa-cart-plus"></i>
																																																	Ajouter au panier
																																																</button>
																																															</div>
																																														</div>
																																													</div>
																																												</div>
																																											{% endfor %}
																																										</div>
																																										<button class="carousel-control-prev" type="button" data-bs-target="#nouveautesCarousel" data-bs-slide="prev">
																																											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
																																											<span class="visually-hidden">Précédent</span>
																																										</button>
																																										<button class="carousel-control-next" type="button" data-bs-target="#nouveautesCarousel" data-bs-slide="next">
																																											<span class="carousel-control-next-icon" aria-hidden="true"></span>
																																											<span class="visually-hidden">Suivant</span>
																																										</button>
																																									</div>
																																								</div> #}

			{# fin carousel produits #}

			<section class="qui">
				<h4>Qui sommes-nous ?</h4>
				<p>Graphik Galaxy, c’est bien plus qu’une boutique en ligne. C’est un univers dédié aux amoureux de la pop culture. Créé par des fans pour des fans, notre mission est de vous proposer une sélection variée et exclusive de bandes dessinées, mangas, et produits dérivés qui font vibrer toutes les générations.</p>

				<h4>Pourquoi choisir Graphik Galaxy ?</h4>

				<div class="blocks">


					<h5>Une expérience immersive :</h5>
					<div class="block1">

						<p>Nous ne vendons pas seulement des produits, nous partageons une passion. Chaque article est sélectionné avec soin pour satisfaire les amateurs les plus exigeants.</p>
						<img src="../../assets/img/home-images/paris-logo.png" alt="">
					</div>


					<h5>Un service client à votre écoute :</h5>
					<div class="block2">

						<p>
							Notre équipe est là pour répondre à vos questions, vous conseiller et s’assurer que votre expérience soit la meilleure possible.</p>
						<img src="" alt="">
					</div>


					<h5>Livraison rapide et soignée :</h5>
					<div class="block3">

						<p>Nous savons à quel point vous avez hâte de tenir vos trésors entre vos mains.</p>
						<img src="" alt="">
					</div>
				</div>

			</div>


		</section>

		<section
			class="confiance">

			{# carousel commentaires #}
			<div class="confiance">
				<h3>Ils nous ont fait confiance</h3>
				<div id="carousel-commentaires">
					<p>un carousel de commentaires</p>

				</div>


			</div>
			{# fin carousel commentaires #}
		</section>
		<h5>🌌 Donc entrez dans l’univers de Graphik Galaxy et laissez votre passion vous guider ! 🌌</h5>

		<i class="fa-solid fa-hand-spock"></i>

	</div>
</div>{% endblock %}
	