{% extends 'base.html.twig' %}


{% block body %}

	<div id="full">


		<h3>Bienvenue dans l'univers de Graphik Galaxy 🌌</h3>
		<p>Chez Graphik Galaxy, nous vous invitons à plonger dans un monde rempli de couleurs, d’histoires captivantes et de héros légendaires. Que vous soyez un passionné de mangas, un collectionneur de comics ou simplement à la recherche de goodies uniques pour compléter votre collection, vous êtes au bon endroit !</p>


		<h6>Les Nouveautés de Graphik Galaxy 🌟</h6>
		🔗 Découvrez les nouveautés maintenant : Graphik Galaxy - Nouveautés


		{# Carousel automatique premiere version #}

		{# <div id="carousel" class="carousel slide" data-bs-ride="carousel">
									<div class="carousel-inner">
										<div class="carousel-item active">
						
						
						<div id="produits_page">
						
						
								<div class="produits_blocks">
									<div class="produit">
										<a href="{{path('app_details', {id: produit.id})}}"><img src="{{asset('assets/img/' ~ categorie ~ '/' ~ produit.images)}}" alt="{{produit.nom}}" class="produit-image"></a>
						
										<h4 class="produit-nom">{{produit.nom}}</h4>
										<h6 class="produit-prix">{{produit.prix}}
											€</h6>
										<a href="{{path('app_details', {id: produit.id})}}">
											<button class="details">details</button>
										</a>
						
						
										<i class="fa-solid fa-cart-plus" class="add_panier" onclick="ajoutPanier(event, {{produit.id}})"></i>
										<button class="add_panier" onclick="ajoutPanier(event, {{produit.id}})">ajouter au panier</button>
									</div>
								</div>
						
						</div> #}
						{# fin premiere version carousel #}

{# deuxieme version carousel #}
			{# <div id="carousel" class="carousel slide" data-bs-ride="carousel"> <div class="carousel-inner">
				<div
					class="carousel-item active">
					<!-- Dernier produit -->
					<img src="{{ asset('assets/img/' ~ dernierProduit.categorie ~ '/' ~ dernierProduit.images) }}" class="d-block w-100" alt="{{ dernierProduit.nom }}">
					<div class="carousel-caption d-none d-md-block">
						<h5>{{ dernierProduit.nom }}</h5>
						<p>{{ dernierProduit.prix }}
							€</p>
						<a href="{{ path('app_details', {id: dernierProduit.id}) }}" class="btn btn-primary">Voir les détails</a>
					</div>
				</div>
				{% for produit in produits %}
					<div class="carousel-item">
						<img src="{{ asset('assets/img/' ~ produit.categorie ~ '/' ~ produit.images) }}" class="d-block w-100" alt="{{ produit.nom }}">
						<div class="carousel-caption d-none d-md-block">
							<h5>{{ produit.nom }}</h5>
							<p>{{ produit.prix }}
								€</p>
							<a href="{{ path('app_details', {id: produit.id}) }}" class="btn btn-primary">Voir les détails</a>
						</div>
					</div>
				{% endfor %}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>


		<img src="..." class="d-block w-100" alt="...">
	</div>
	<div class="carousel-item">
		<img src="..." class="d-block w-100" alt="...">
	</div>
	<div class="carousel-item">
		<img src="..." class="d-block w-100" alt="...">
	</div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Next</span>
</button></div> #}
{# fin Carousel automatique #}


<section class="qui">
<h4>Qui sommes-nous ?</h4>
<p>Graphik Galaxy, c’est bien plus qu’une boutique en ligne. C’est un univers dédié aux amoureux de la pop culture. Créé par des fans pour des fans, notre mission est de vous proposer une sélection variée et exclusive de bandes dessinées, mangas, et produits dérivés qui font vibrer toutes les générations.</p>

<h4>Pourquoi choisir Graphik Galaxy ?</h4>

<div class="blocks">

	<div class="1">
		<h5>Une expérience immersive :</h5>
		<p>Nous ne vendons pas seulement des produits, nous partageons une passion. Chaque article est sélectionné avec soin pour satisfaire les amateurs les plus exigeants.</p>
		<img src="" alt="">
	</div>

	<div class="2">
		<h5>Une expérience immersive :</h5>
		<p>Un service client à votre écoute : Notre équipe est là pour répondre à vos questions, vous conseiller et s’assurer que votre expérience soit la meilleure possible.</p>
		<img src="" alt="">
	</div>


	<div class="3">
		<h5>Livraison rapide et soignée :</h5>
		<p>Nous savons à quel point vous avez hâte de tenir vos trésors entre vos mains.</p>
		<img src="" alt="">
	</div>

</div>


🌌 Entrez dans l’univers de Graphik Galaxy et laissez votre passion vous guider !</section><section
class="confiance">

{# carousel commentaires #}
<div class="confiance">
	<h3>Ils nous ont fait confiance</h3>
	<p>un carousel de commentaires</p>

</div>
{# fin carousel commentaires #}</section></div></div>{% endblock %}
