{% extends 'base.html.twig' %}

{% block title %}Details du produit
{% endblock %}

{% block body %}

	<div class="main_details">
		<h1 class="produit-nom-details">{{produit.nom}}</h1>


		<div id="details">

			<div class="produit-image_description">
				<img src="{{asset('assets/img/' ~ produit.categorie ~ '/' ~ produit.images)}}" alt="{{produit.nom}}" class="produit-image">
			</div>

			<div class="details_description">
				<h5 class="produit-synopsis">{{produit.description}}</h5>
				<h4>Genre</h4>
				<h5 class="produit-synopsis">{{produit.genre}}</h5>
				<h6 class="produit-prix">{{produit.prix}}€</h6>

				<div class="stock-statut">

					{% if produit.stocks > 0 %}
						<span class="en-stock">
							<i class="fa-solid fa-check"></i>
							En stock
						</span>
					{% else %}
						<span class="rupture-stock">
							<i class="fa-solid fa-check"></i>
							Plus en stock
						</span>
					{% endif %}

				</div>

				<div class="buttons">
					<button class="add_panier" onclick="ajoutPanier(event, {{produit.id}})">ajouter au panier</button>


					<a href="{{path('app_panier')}}">
						<button class="see_panier">voir mon panier</button>
					</a>

				</div>


			</div>

		</div>


		<div class="commentaires-section">
			<h3>L'avis des clients</h3>


			{% if app.user %}
				{{ form_start(commentForm, {'attr': {'class': 'comment-form'}}) }}
				{{ form_widget(commentForm) }}
				<button type="submit" class="btn btn-primary">Envoyer</button>
				{{ form_end(commentForm) }}
			{% else %}
				<p>Veuillez vous
					<a href="{{ path('app_login') }}">connecter</a>
					pour laisser un commentaire.</p>
			{% endif %}

			<div class="commentaires-list mt-4">
				{% if commentaires|length > 0 %}
					{% for commentaire in commentaires %}
						<div class="commentaire-item mb-3">
							<div class="commentaire-header">
								<strong>{{ commentaire.user.username }}</strong>
								<small>{{ commentaire.dates|date('d/m/Y H:i') }}</small>
							</div>
							<div class="commentaire-content">
								{{ commentaire.message }}
							</div>
						</div>
					{% endfor %}
				{% else %}
					<p>Aucun commentaire pour ce produit.</p>
				{% endif %}


			</div>

		</div>


	{% endblock %}
